[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
cloudinary = "*"
flasgger = "*"
psycopg2-binary = "*"
requests = "*"
marshmallow = "*"
flask-jwt-extended = "*"
flask = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.12"
